.about {
  width: 100%;
  height: fit-content;
  background-color: #e8ebe4;
  display: block;
}

#intro {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  min-height: 969px;
  position: relative;
}

#hi {
  margin: 180px auto 0 auto;
  font-family: "Limelight", cursive;
  font-size: 70px;
  width: fit-content;
  height: fit-content;
}

#jobtitle {
  margin: 20px auto;
  font-size: 25px;
  width: fit-content;
  height: fit-content;
}

.introanimation {
  width: 700px;
  height: 300px;
  margin: 100px auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hover {
  font-size: 20px;
}

#profile {
  position: relative;
  width: 100%;
  height: 969px;
  background-color: #203864;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e8ebe4;
}

.profilecontent {
  display: flex;
  width: fit-content;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.profileinfo {
  width: 200px;
  height: 300px;
  text-align: left;
}

.profilesummary {
  width: 700px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 0 0 0 50px;
  line-height: 35px;
  letter-spacing: 1px;
}

.profilepic {
  width: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.name {
  margin: 10px 15px 10px 25px;
  font-weight: bold;
  font-size: 18px;
  color: #e8ebe4;
  text-align: center;
}

.profileicon {
  height: 16px;
  margin: 10px 15px 0 25px;
}

.godownboxcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.godownbox {
  position: absolute;
  top: 750px;
  width: fit-content;
  border: none;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 130px;
  background-color: transparent;
  padding: 0 5px 0 5px;
}

.godownbox:hover {
  transform: scale(1.1);
}

.godown {
  width: 50px;
}

.goupbox {
  position: absolute;
  top: -30px;
  width: fit-content;
  border: none;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 130px;
  background-color: transparent;
  padding: 0 5px 0 5px;
  transform: rotate(180deg);
}

.goupbox:hover {
  transform: scale(1.1) rotate(180deg);
}

.goup {
  width: 50px;
}

#skills {
  position: relative;
  width: 100%;
  height: 969px;
  background-color: #e8ebe4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillslist {
  width: 1300px;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

.skillscategory {
  position: relative;
  width: 600px;
  height: 100%;
  border-radius: 30px;
  display: flex;
}

.categorytitle {
  position: absolute;
  width: 500px;
  font-size: 40px;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
}

.skillscolumn {
  width: 50%;
  height: 100%;
  align-items: space-between;

}

.skilltitle {
  margin-left: 10px;
  font-size: 30px;
}

.skillimg {
  position: relative;
  width: 600px;
  height: 450px;
}

.softwaresimg {
  position: relative;
  width: 650px;
  height: 430px;
}

#whiteback {
  background-color: white;
}