.contact  {
    width: 100%;
    height: fit-content;
    background-color: #84bec9;
    position: relative;
    min-height: 969px;
    display: flex;
}

.contactdiv {
    width: 100%;
    display: block;
}

.iconlinks {
    width: fit-content;
    height: fit-content;
    margin: 150px auto 0 auto;
}

.contactlink {
    margin: 0 50px;
}

.contactlinkimg {
    width: 60px;
    height: 60px;
}

.mailbutton {
    width: fit-content;
    height: fit-content;
    border: none;
    background: transparent;
}

.mailbutton:hover {
    cursor: pointer;
}